// Base Styles
body {
  background-color: white;
  font-size: 1em;
  font-family: "Helvetia Neue", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

// Golden Ratio Type Scale via http://type-scale.com/
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 {
 font-size: 4.236em;
}

h3 {
 font-size: 2.618em;
}

h4 {
  font-size: 1.618em;
}

small {
  font-size: 0.618em;
}

li {
  list-style: none;
}

a {

  &:hover {
  }
}

a {

  &:link, &:hover, &:active, &:visited {
  }
}

