<!doctype html>
<html>
  <head>
    <title>Emoji Rolodex</title>

    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link href="/css/styles.css" rel="stylesheet">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
  </head>

  <body>
    <header class="header">
      <p>HipChat Emoji Rolodex</p>
      <p>Start typing to find an emoticon!</p>
    </header>

    <section class="search">
      <input id="input" type="text" />
    </section>

    <main class="main wrapper" role="main">
      <%= yield %>
    </main>

    <footer class="footer">
      <small>Powered by: <a href="https://github.com/mmwtsn/emoji-rolodex">The Emoji Rolodex</a></small>
    </footer>

    <script src="/js/script.js" type="text/javascript"></script>
  </body>
</html>

