---
http_interactions:
- request:
    method: get
    uri: https://api.hipchat.com/v2/emoticon?auth_token=3Y7br8xbR997PP2D2i30rITxSNJs4Qikmo3HWLub
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '2013-12-17T16:04:39Z'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1387590060.0'
    body:
      encoding: UTF-8
      string: "{\"items\": [{\"id\": 38578, \"links\": {\"self\": \"https://api.hipchat.com/v2/emoticon/38578\"},
        \"shortcut\": \"100\", \"url\": \"https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/34218/100-1384369148.png\"},
        {\"id\": 260, \"links\": {\"self\": \"https://api.hipchat.com/v2/emoticon/260\"},
        \"shortcut\": \"allthethings\", \"url\": \"https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/allthethings.png\"},
        {\"id\": 118, \"links\": {\"self\": \"https://api.hipchat.com/v2/emoticon/118\"},
        \"shortcut\": \"android\", \"url\": \"https://dujrsrsgsd3nh.cloudfront.net/img/emoticons/android.png\"},
 [...]
